
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.choropleth-0 { fill: #ffffff; }
.choropleth-1 { fill: #fff9c4; }
.choropleth-2 { fill: #fff59d; }
.choropleth-3 { fill: #f48fb1; }
.choropleth-4 { fill: #c2185b; }
.choropleth-5 { fill: #ad1457; }
.choropleth-6 { fill: #880e4f; }

#libremap { position:absolute; top:0; bottom:0; width:100%; }

/* https://codepen.io/oidre/pen/BaKBOqg */
.shim-blue {
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 155, 255, 0.7);
  }
  .shim-blue::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(233, 233, 233, 1) 0,
      rgba(233, 233, 233, 0.9) 50%,
      rgba(233, 233, 233, 0.8) 100%
    );
    animation: shimmer 2.5s ease-out infinite;
    content: "";
  }
