
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

.choropleth-0 { fill: #ffffff; }
.choropleth-1 { fill: #fff9c4; }
.choropleth-2 { fill: #fff59d; }
.choropleth-3 { fill: #f48fb1; }
.choropleth-4 { fill: #c2185b; }
.choropleth-5 { fill: #ad1457; }
.choropleth-6 { fill: #880e4f; }

@layer components {
  .custom-ring {
      @apply focus:outline-none focus-visible:ring focus-visible:ring-blue-500
  }
  .black-to-jncc-green {
    filter: invert(38%) sepia(11%) saturate(3054%) hue-rotate(69deg) brightness(95%) contrast(86%);
  }
}