:root{
    --options-display: none;
}

.c-multi-select-dropdown{
    position: relative;
}

.c-multi-select-dropdown__selected{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-multi-select-dropdown__options{
    display: var(--options-display);
    height: 400px;
    overflow-y: scroll;
}

.c-multi-select-dropdown__button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
}
